<a href="https://colab.research.google.com/github/younhuiji/python/blob/main/py06_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple (튜플)

* 저장된 원소들을 변경할 수 없는 리스트
* indexing, slicing
* `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)는 제공되지 않음.

In [ ]:
numbers = (1, 2, 3, 10, 20, 30)
print(numbers)
type(numbers)

(1, 2, 3, 10, 20, 30)

tuple

# indexing

인덱스를 사용해서 원소 1개를 참조하는 방법

In [ ]:
numbers[0] # 튜플의 첫번째 원소

1

In [ ]:
numbers[-1] # 튜플의 마지막 원소

30

In [ ]:
# 튜플에서 첫 2개 원소를 잘라내기
numbers[:2]

(1, 2)

In [ ]:
# 튜플에서 마지막 2개 원소를 잘라내기
numbers[-2:]

(20, 30)

# decomposition(분해)

In [ ]:
x, y, z = (1, 2, 3)
print(x)
print(y)
print(z)

1
2
3

# tuple과 for 반복문

In [ ]:
numbers= (1, 3, 5, 7, 9)
for x in numbers:
    print(x, end=', ')

1, 3, 5, 7, 9,

# 2차원 리스트, 튜플

In [ ]:
numbers = [
    [1,2,3],
    [4,5,6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
numbers[0][0]

1

In [ ]:
for row in numbers:
    for x in row:
        print(x, end=' ')
    print()

1 2 3
4 5 6

## Exercise

1. 2x2 모양의 난수를 저장하는 2차원 리스트 array1을 만듦.
1. 2x2 모양의 난수를 저장하는 2차원 리스트 array2을 만듦.
1. array1과 array2와 같은 인덱스의 원소들끼리 덧셈 결과를 갖는 2차원 리스트를 만듦.

In [ ]:
import random

array1 = [[random.randrange(1, 10) for x in range(2)] for _ in range(2)]
print(array1)

array2 = [[random.randrange(1, 10) for x in range(2)] for _ in range(2)]
print(array2)

adds = [[array1[i][_] + array2[i][_] for i in range(2)] for _ in range(2)]
print(adds)

[[2, 8], [7, 8]]
[[6, 3], [4, 9]]
[[8, 11], [11, 17]]