<a href="https://colab.research.google.com/github/younhuiji/python/blob/main/py11_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 클래스 작성 연습
* class Score
    * 속성: korean, english, math
    * 메서드: `__init__`, 총점, 평균, `__repr__`, `__eq__`
* class Student
    * 속성: stu_no, stu_name, score(Score 객체 타입)
    * 메서드: `__init__`, `__repr__`

In [ ]:
class Score:
    def __init__(self, korean=0, english=0, math=0): # 값을 넘기지 않아도 defalt 값으로 나올 수 있게
        self.korean = korean
        self.english = english
        self.math = math
        
        # 결과 : <__main__.Score at 0x7f8dd4df91f0>

    def __repr__(self):
        return f'(국어={self.korean}, 영어={self.english}, 수학={self.math}), 총점={self.get_total()}, 평균={self.get_mean()}'   

        # 결과 :  (국어=0, 영어=0, 수학=0), 총점=0, 평균=0.0

    def __eq__(self, other):
        return (self.korean == other.korean 
                and self.english == other.english 
                and self.math == other.math)
        
        # 결과 : print(score1 == score2) - True

    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

In [ ]:
score1 = Score()
score1

(국어=0, 영어=0, 수학=0), 총점=0, 평균=0.0

In [ ]:
score2 = Score(korean=0, english=0, math=0)
score2

(국어=0, 영어=0, 수학=0), 총점=0, 평균=0.0

In [ ]:
score3 = Score(korean = 100, math=50)
score3

(국어=100, 영어=0, 수학=50), 총점=150, 평균=50.0

In [ ]:
# __eq__메서드 테스트
print(score1 == score2)
print(score1 == score3)

True
False

In [ ]:
class Student:
    def __init__(self, stu_no, stu_name, score):
        self.stu_no = stu_no
        self.stu_name = stu_name
        self.score = score

    def __repr__(self):
        return f'번호={self.stu_no}, 이름={self.stu_name}, 성적={self.score}'

In [ ]:
student1 = Student(1, '홍길동', score1)
student1

번호=1, 이름=홍길동, 성적=(국어=0, 영어=0, 수학=0), 총점=0, 평균=0.0

In [ ]:
student2 = Student(2, '오쌤', Score())
student2

번호=2, 이름=오쌤, 성적=(국어=0, 영어=0, 수학=0), 총점=0, 평균=0.0

In [ ]:
student1.score == student2.score

True