<a href="https://colab.research.google.com/github/younhuiji/python/blob/main/py19_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np # numpy의 통계 함수 이름들을 사용하기 위해서.

In [ ]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

tips dataset

* total_bill : 영수증 금액
* tip : 팁
* sex : 성별(Female, Male)
* smoker : 흡연 여부
* day : 요일 
* time : 영업 시간(Lunch, Dinner)
* size : 일행 수

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips.shape #(row 개수, column 개수)

(244, 7)

In [ ]:
tips.columns # 컬럼 레이블(이름)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
tips.index # 행(row) 레이블

RangeIndex(start=0, stop=244, step=1)

* DataFrame 의 첫 5개 행 출력

In [ ]:
tips[:6]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

* DataFrame의 마지막 6개 행을 출력

In [ ]:
tips[-6:]

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

* DataFrame에서 숫자 타입 변수(컬럼)의 기술 통계량

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

* 카테고리 타입 변수(컬럼)의 빈도수를 출력

In [ ]:
tips['sex'].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [ ]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [ ]:
tips.smoker.value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

In [ ]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [ ]:
tips['size'].value_counts() # tips.size.value_counts() 안 됨 !!!

2    156
3     38
4     37
5      5
1      4
6      4
Name: size, dtype: int64

* 영수증 금액이 최댓값인 레코드(행)을 출력

In [ ]:
tips[tips['total_bill'].max() == tips['total_bill']]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

* 영수증 금액이 최솟값인 레코드를 출력

In [ ]:
tips[tips['total_bill'].min() == tips['total_bill']]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

* 영수증 금액이 최댓값이거나 최솟값인 레코드들을 출력

In [ ]:
tips[(tips['total_bill'].min() == tips['total_bill']) | (tips['total_bill'].max() == tips['total_bill'])]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

* 성별에 따른 tip의 차이가 있을까?
    * 남성의 tip이 평균, 여성의 tip의 평균
    * 남성의 tip의 최댓값, 여성의 tip의 최댓값
    * 남성의 tip의 최솟값, 여성의 tip의 최솟값
    * 남성의 tip의 중앙값, 여성의 tip의 중앙값

In [ ]:
print('남성 tip 평균 :', tips[tips['sex']=='Male']['tip'].mean() )
print('여성 tip 평균 :', tips[tips['sex']=='Female']['tip'].mean() )
print('남성 tip 최댓값 :', tips[tips['sex']=='Male']['tip'].max() )
print('여성 tip 최댓값 :', tips[tips['sex']=='Female']['tip'].max() )
print('남성 tip 최솟값 :', tips[tips['sex']=='Male']['tip'].min() )
print('여성 tip 최솟값 :', tips[tips['sex']=='Female']['tip'].min() )
print('남성 tip 중앙값 :', tips[tips['sex']=='Male']['tip'].median() )
print('여성 tip 중앙값 :', tips[tips['sex']=='Female']['tip'].median() )

남성 tip 평균 : 3.0896178343949043
여성 tip 평균 : 2.8334482758620685
남성 tip 최댓값 : 10.0
여성 tip 최댓값 : 6.5
남성 tip 최솟값 : 1.0
여성 tip 최솟값 : 1.0
남성 tip 중앙값 : 3.0
여성 tip 중앙값 : 2.75

In [ ]:
# 성별 컬럼의 unique(중복되지 않는)값
tips.sex.unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [ ]:
# 성별 팁의 평균
for s in tips.sex.unique():
    print(s, ':' ,tips[tips.sex == s]['tip'].mean())

Female : 2.8334482758620685
Male : 3.0896178343949043

* 흡연 여부별로 팁의 차이가 있을까?
    * 흡연 여부별 팁의 평균
* 요일별로 팁의 차이가 있을까?
    * 요일별 팁의 평균
* 시간별 팁의 차이가 있을까?
    * 시간(Lunch, Dinner)별 팁의 평균

In [ ]:
for s in tips.smoker.unique():
    print(s, ':' ,tips[tips.smoker == s]['tip'].mean())

No : 2.9918543046357615
Yes : 3.008709677419355

In [ ]:
tips.groupby(by='smoker').tip.mean()

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

In [ ]:
for d in tips.day.unique():
    print(d, ':' ,tips[tips.day == d]['tip'].mean())

Sun : 3.2551315789473687
Sat : 2.993103448275862
Thur : 2.771451612903225
Fri : 2.7347368421052627

In [ ]:
for t in tips.time.unique():
    print(t, ':' ,tips[tips.time == t]['tip'].mean())

Dinner : 3.102670454545454
Lunch : 2.728088235294118

## groupby

2개 이상의 카테고리별로 groupby

In [ ]:
# 성별, 흡연여부별 팁의 평균
tips.groupby(['sex','smoker']).tip.mean()
# -> multi-level index 를 갖는 Series 객체를 반환.

sex     smoker
Male    Yes       3.051167
        No        3.113402
Female  Yes       2.931515
        No        2.773519
Name: tip, dtype: float64

In [ ]:
tips.groupby(['smoker', 'sex']).tip.mean()

smoker  sex
Yes     Male      3.051167
        Female    2.931515
No      Male      3.113402
        Female    2.773519
Name: tip, dtype: float64

In [ ]:
# 성별, 요일별 팁의 평균
tips.groupby(['sex', 'day']).tip.mean()

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

## 카테고리별 2개이상의 컬럼을 선택

In [ ]:
# 성별 영수증 금액의 평균, 팁의 평균
tips.groupby(['sex'])[['total_bill','tip']].mean()

        total_bill       tip
sex
Male     20.744076  3.089618
Female   18.056897  2.833448

In [ ]:
# 성별, 흡연여부별 영수증 금액과 팁의 평균
tips.groupby(['sex','smoker'])[['total_bill','tip']].mean()

               total_bill       tip
sex    smoker
Male   Yes      22.284500  3.051167
       No       19.791237  3.113402
Female Yes      17.977879  2.931515
       No       18.105185  2.773519

## 그룹별 2개 이상의 통계 함수 적용

In [ ]:
# 성별 팁의 평균, 최댓값, 최솟값
tips.groupby('sex').tip.agg([np.mean, np.max, np.min]) # aggragate

            mean  amax  amin
sex
Male    3.089618  10.0   1.0
Female  2.833448   6.5   1.0

In [ ]:
# 성별 흡연여부별 영수증 금액과 팁의 평균, 표준편차
tips.groupby(['sex', 'smoker'])[['total_bill', 'tip']].agg([np.mean, np.max, np.min]) # aggragate

              total_bill                    tip
                    mean   amax  amin      mean  amax  amin
sex    smoker
Male   Yes     22.284500  50.81  7.25  3.051167  10.0  1.00
       No      19.791237  48.33  7.51  3.113402   9.0  1.25
Female Yes     17.977879  44.30  3.07  2.931515   6.5  1.00
       No      18.105185  35.83  7.25  2.773519   5.2  1.00